

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: whitesmoke;
    transition: all 0.5s ease;

}

:root{

    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;

    --primary-color:rgb(230, 218, 166);
    --font-category:black;
    --btn-hover:hsla(29, 70%, 65%, 0.3);
    --secondry-color:  #333;
    --footer-color: rgb(193, 141, 178);
    --main-color: #00b4d8c9;

} 


/*-----------------nav bar-----------------------------**/


.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--primary-color);
}

.menu-bar {
  background-color: var(--secondry-color);
  height: 80px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 2px var(--primary-color);
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  padding: 10px 10px;

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--primary-color);
  font-size: 21px;
}

.fa-bars {
  float: left;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--secondry-color);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}


.hero {
  
  min-height: calc(90vh - 80px);
   /* Use flexbox */
   display: flex;

}




/*/////////////////////////////////////////////////////////////////////////////////////////*/


  .sidebar {
    background-color: var(--secondry-color);
    width: 260px;
    height: 100%;
    position: fixed;
    padding: 0 20px;
    padding-top: 90px;
    top: 0;
    z-index: 0;
    box-shadow: 0 0 1px var(--primary-color);
    
  }

 
 
  
  .picture {
    margin-top: 5px;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid white;
  
  }
  
  .picture img {
    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
  
  }
  
  .picture div {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 550;
    color: white;
    
  }
  
  .menu_items {
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }
  .navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
  }
  
  .sidebar .nav_link {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 4px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
  }
  
  #this .nav_link{
    color: var(--secondry-color);
    background: whitesmoke; 
    margin-bottom: 10px;
  }
  
  .nav_link:hover {
    color: var(--secondry-color);
    background: whitesmoke; 
    margin-bottom: 10px;
  }




  /*///////////////////////////////////////////////////////////////////////////*/
  
  
.main {
  position: relative;
    width: calc(100% - 260px);
    left: 260px;
    padding: 20px;
    margin-bottom: 20px;
    /* min-height: 100vh; */
    
  
  }
  

  
  
  
  .contai {
    width: 95%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    box-shadow: 0px 4px 22px -5px rgba(123, 115, 115, 0.75);
    
  }
  
  .contai header {
    position: relative;
    width: 97%;
    background-color: var(--secondry-color);
    padding: 1rem;
  }
  
  .contai header h3 {
    color: white;
    margin-left: 1.5rem;
  
  }
  
  
  /*table start design*/
  .table-products {
    position: relative;
    width: 95%;
    margin: 2rem auto;
    border-collapse: collapse;
  }
  
  .table-products th,
  .table-products td {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem;
    text-align: left;
  }
  
  .table-products th {
    background: white;
    padding: 1rem auto;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .table-products tbody td {
    padding: 0.8rem;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .table-products tbody td p {
    display: inline-block;
    padding: 5px;
  }
  
  
  .table-products tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .datediv{
    font-size: 17px;
    padding: 5px;
    display: flex;
  }

  .datediv .tit{
    font-size: 18px;
    min-width: 120px;
    color: rgb(158, 146, 94);;
  }

  

  
  
  .deleteBtn{
    border: 1px solid  var(--primary-color);
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: large;
	border-radius:10px;
    padding: 10px;
   
}
.deleteBtn:hover{
    border:white;
	background-color:var(--btn-hover);
}
  
.imgColumn{
  
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
  
  .table-wrapped {
    text-align: center;
  }
  
  /*responsive table*/
  
  
  
  

  
  

  


 
  
  
  
  /* @media screen and (max-width: 900px) {
    
    #sidebarOpen {
      font-size: 25px;
      display: block;
      margin-right: 10px;
      cursor: pointer;
      color: var(--grey);
    }
    .sidebar.close {
      left: -100%;
    }
   
  
    .main {
      position: absolute;
      top: 50px;
      width: 95%;
      left: 0px;
      padding: 20px;
      margin: auto;
      min-height: calc(100vh - 60px);
      z-index: 0;
    }  
  
    .table-products thead {
      display: none;
    }
  
  
  .table-products tbody,
  .table-products tr,
  .table-products td {
      display: block;
      width: 99%;
  }
  
  .table-products tr {
      margin-bottom: 15px;
  
  }
  
  .table-products th,
  .table-products td {
  
      border-top: none;
      border-bottom: .5px solid #ddd;
  
  }
  
  .table-products td {
      text-align: right;
      /* padding-left: 50%; */
      /* position: relative;
  } */
  
  /* .table-products td::before {
      content: attr(data-label);
      position: static;
      float: left;
      width: 50%;
      text-transform: uppercase;
  
      font-size: 15px;
      font-weight: bold;
      text-align: left;
  }
  

  

 

  } */ 


/*/////////////////////////////////////////////////////////////////////////////////////////*/

/********************footer********************/


.footer {
 
  
  background: var(--secondry-color);
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  z-index: 1000;
  
  box-shadow: inset 0 1px 2px -1px rgba(230,219,166,1);
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}


  /* Add this CSS for styling the loading icon */
  .loading-icon {
    display: none;
    position: relative;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid var(--main-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 5px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }